.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.iconButton {
  transition: all 0.3s ease !important;
}

.iconButton:hover {
  background-color: #c5c5c5 !important;
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.4);
}

.todoCard {
  transition: all 0.3s ease !important;
  /* padding-top: 10px;
  padding-bottom: 10px; */
}
.todoCard:hover {
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.5);
}

/* custom fonts  */
@font-face {
  font-family: ScienceGothic;
  src: url("/public/Fonts/ScienceGothic_Condensed-Regular.ttf")
    format("truetype");
  /* font-weight: 900; */
}
/* ======== custom fonts  ======*/
